@import url('https://fonts.googleapis.com/css?family=Allura');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.menu{
    position: absolute;
    width: 100%;
    height: 108px;
    left: 0px;
    top: 0px;
    background-color: #afc4c0;
}

.menu h2{
    position: absolute;
    font-family: Allura;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
}

.menu img{
    position: absolute;
    width: 180px;
    height: 180px;
    margin: 0 0px 0px 0px;
    top: -40px;
    left: -10px;
}

.menu .denize{
    position: absolute;
    width: 62px;
    height: 24px;
    left: 100px;
    top: 22px;

    color: #FFFFFF;
}

.menu .olerante{
    position: absolute;
    width: 62px;
    height: 24px;
    left: 100px;
    top: 48px;


    color: #FFFFFF;
}

.menu .conteudo h2{
    position: absolute;
    width: 149px;
    height: 89px;
    left: 900px;
    top: 8px;

    line-height: 45px;
    text-align: center;
}

.menu .contato h2{
    position: absolute;
    width: 149px;
    height: 89px;
    left: 1250px;
    top: 28px;

    line-height: 45px;
    text-align: center;
}

.menu .linha-vertical{
    position: absolute;
    width: 3px;
    height: 100px;
    left: 1625px;
    top: 0px;

    background-color: #FAEBE4;
}

.menu .insta h2{
    position: absolute;
    width: 132px;
    height: 35px;
    left: 1716px;
    top: 28px;

    font-family: Allura;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */

    text-align: center;
}

.menu i{
    position: absolute;
    width: 132px;
    height: 35px;
    left: 1680px;
    top: 28px;

    font-size: 36px;
    line-height: 45px;

    color: #FFFFFF;
}

.linha-horizontal{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 1px;
    top: 100px;

    background: #FAEBE4;
}

.fundo-verde{
    position: absolute;
    width: 100%;
    height: 880px;
    left: 0px;
    top: 102px;
    
    background: #AFC4C0;  
}

.fundo-horizontal-grande{
    position: absolute;
    width: 3px;
    height: 2972px;
    left: 136px;
    top: 102px;

    background: #FAEBE4;
}

.capa{
    position: absolute;
    width: 1507px;
    height: 465px;
    left: 362px;
    top: 225px;
}

.linha-capa{
    position: absolute;
    width: 1469px;
    height: 3px;
    left: 271px;
    top: 850px;
    
    background: #FAEBE4; 
}

.pag2 img{
    position: absolute;
    width: 407px;
    height: 418px;
    left: 780px;
    top: 1105px;
}

.linha-sobre{
    position: absolute;
    width: 1080px;
    height: 3px;
    left: 427px;
    top: 1598px;

    background: #FAEBE4;
}

.pag2 h2{
    position: absolute;
    width: 370px;
    height: 80px;
    left: 785px;
    top: 1540px;

    font-family: Allura;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.pag2 h3{
    position: absolute;
    width: 1423px;
    height: 270px;
    left: 307px;
    top: 1612px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;

    color: #000000;
}

.fundo-verde-pag3{
    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0px;
    top: 2000px;
    
    background: #AFC4C0; 
}